<div class="container">
  <footer class="footer">
    <small> Copyright &copy; Blog by Blog </small>
    <nav>
      <ul>
        <li><%= link_to 'About', welcome_about_path %>
      </ul>
    </nav>
  </footer>
</div>